# volumes:
volumes:
  jwtdown-db-data:
    external: true

  mongo-data:
    external: true

services:
  mongo:
    image: mongo:5
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: PTB
      MONGO_INITDB_ROOT_PASSWORD: seedling
    ports:
      - 27017:27017
  fastapi:
    environment:
      SIGNING_KEY: ${SIGNING_KEY}
      # CORS_HOST: http://localhost:3000
      DATABASE_URL: mongodb://PTB:seedling@mongo:27017/
      DB_NAME: db-seedling-db
      WAIT_HOSTS: mongo:27017
      API_KEY: ${API_KEY}
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./api:/app

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_AUTH_API_HOST: http://localhost:8000
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
