.h-custom {
  height: calc(100% - 73px);
}

.login-background {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23F0EBCE'%3E%3C/rect%3E%3Cpath d='M0 471L21.5 470.7C43 470.3 86 469.7 128.8 464.5C171.7 459.3 214.3 449.7 257.2 437.5C300 425.3 343 410.7 385.8 417.3C428.7 424 471.3 452 514.2 456.7C557 461.3 600 442.7 642.8 418.7C685.7 394.7 728.3 365.3 771.2 377.5C814 389.7 857 443.3 878.5 470.2L900 497L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%234E6C50' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-background {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23F0EBCE'%3E%3C/rect%3E%3Cpath d='M0 446L30 458.8C60 471.7 120 497.3 180 502.2C240 507 300 491 360 473.3C420 455.7 480 436.3 540 429.3C600 422.3 660 427.7 720 434C780 440.3 840 447.7 870 451.3L900 455L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%234E6C50' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.my-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
}

.my-modal.is-active {
  display: block;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 2rem;
}

.floating-rectangle {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.form__input {
  width: 100%;
  border: 0 solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 1em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}

.form__input:focus {
  border-bottom-color: #4E6C50;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.btn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #4E6C50;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #4E6C50;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
  background-color: #4E6C50;
  color: #fff;
}
