.modal-content {
  display: flex;
  align-items: center;
  border: none;
  margin-top: 100px;
}

form {
  border: none;
}

.picture {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.picture img {
  max-width: 100%;
}
