.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.my-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
}

.my-modal.is-active {
  display: block;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 2rem;
}

.floating-rectangle {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.form__input {
  width: 100%;
  border: 0 solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 1em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}

.form__input:focus {
  border-bottom-color: #4E6C50;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.btn {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #4E6C50;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #4E6C50;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
  background-color: #4E6C50;
  color: #fff;
}
