.navbar {
  background-color: #f0ebce;
}

a {
  color: #4e6c50;
  font-weight: bold;
}

.nav-link {
  color: #285430;
}

.nav-link:hover {
  color: #000000;
}

.main-page {
  background-color: #395144;
  margin: 0px;
  padding: 0px;
}

.page-info {
  background-color: #f0ebce;
  margin: 0px;
}

.page-title {
  padding-top: 120px;
  padding-bottom: 10px;
}

.title-pic {
  margin-top: 100px;
}

.main-page-button {
  margin-top: 10px;
  margin-left: 150px;
}

.home-button {
  padding-top: 20px;
  background: linear-gradient(45deg, #aa8b56, #aa8b56);
}

.home-button:hover {
  background: linear-gradient(45deg, #4e6c50, #395144);
  color: #f0ebce;
}

.button-look {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 12px;
  background-color: #f0ebce;
  text-decoration: none;
  color: #f0ebce;
  font-weight: bold;
  margin-right: 50px;
}

.button-look:hover {
  color: #f0ebce;
}

.direction-title {
  font-family: "Monofett", cursive;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f0ebce;
  position: relative;
}

.direction-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  width: 300px;
  height: 2px;
  background-color: #aa8b56;
}

.direction-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  width: 300px;
  height: 2px;
  background-color: #aa8b56;
}

.direction-title::before {
  left: 0;
}

.direction-title::after {
  right: 0;
}

.direction-subtitle {
  font-family: "Monofett", cursive;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  color: #f0ebce;
}

.card-img-top {
  display: block;
  margin: 0px auto 0px auto;
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.home-card-title {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.home-card-text {
  font-size: 15px;
  padding-top: 10px;
  line-height: 22px;
}

.carousel {
  margin-bottom: 50px;
}

.team-pic {
  height: 150px;
  width: 150px;
}

. {
}
