.navbar {
  background-color: #f0ebce;
}

a {
  color: #aa8b56;
  font-weight: bold;
  text-decoration: none;
}

.nav-link {
  color: #285430;
}

.nav-link:hover {
  color: #000000;
}

.main-page {
  background-color: #395144;
  margin: 0px;
  padding: 50px 0;
}

.main-page-wrapper {
  background-color: #f0ebce;
}

.page-info {
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23F0EBCE'%3E%3C/rect%3E%3Cpath d='M0 449L21.5 451C43 453 86 457 128.8 459.8C171.7 462.7 214.3 464.3 257.2 454.8C300 445.3 343 424.7 385.8 419.5C428.7 414.3 471.3 424.7 514.2 432.3C557 440 600 445 642.8 446.5C685.7 448 728.3 446 771.2 447C814 448 857 452 878.5 454L900 456L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23395144'%3E%3C/path%3E%3Cpath d='M0 456L21.5 455.3C43 454.7 86 453.3 128.8 455.3C171.7 457.3 214.3 462.7 257.2 470.5C300 478.3 343 488.7 385.8 484.7C428.7 480.7 471.3 462.3 514.2 460C557 457.7 600 471.3 642.8 470.5C685.7 469.7 728.3 454.3 771.2 456.3C814 458.3 857 477.7 878.5 487.3L900 497L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%2345624c'%3E%3C/path%3E%3Cpath d='M0 514L21.5 513.8C43 513.7 86 513.3 128.8 507.3C171.7 501.3 214.3 489.7 257.2 485.7C300 481.7 343 485.3 385.8 486.8C428.7 488.3 471.3 487.7 514.2 491.3C557 495 600 503 642.8 504.2C685.7 505.3 728.3 499.7 771.2 496.3C814 493 857 492 878.5 491.5L900 491L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%234e6c50'%3E%3C/path%3E%3Cpath d='M0 552L21.5 549.3C43 546.7 86 541.3 128.8 536.8C171.7 532.3 214.3 528.7 257.2 528C300 527.3 343 529.7 385.8 533.7C428.7 537.7 471.3 543.3 514.2 542.3C557 541.3 600 533.7 642.8 532.7C685.7 531.7 728.3 537.3 771.2 536C814 534.7 857 526.3 878.5 522.2L900 518L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%2345624c'%3E%3C/path%3E%3Cpath d='M0 539L21.5 544.7C43 550.3 86 561.7 128.8 562.2C171.7 562.7 214.3 552.3 257.2 547.7C300 543 343 544 385.8 550C428.7 556 471.3 567 514.2 568.2C557 569.3 600 560.7 642.8 557.3C685.7 554 728.3 556 771.2 560.2C814 564.3 857 570.7 878.5 573.8L900 577L900 601L878.5 601C857 601 814 601 771.2 601C728.3 601 685.7 601 642.8 601C600 601 557 601 514.2 601C471.3 601 428.7 601 385.8 601C343 601 300 601 257.2 601C214.3 601 171.7 601 128.8 601C86 601 43 601 21.5 601L0 601Z' fill='%23395144'%3E%3C/path%3E%3C/svg%3E");
  margin: -20px;
  margin-top: -50px;
  padding: 150px;
  padding-top: 80px;
  background-size: cover;
}

.page-problem,
.page-solution {
  padding: 30px 30px;
}

.page-title {
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: #4e6c50;
}

.title-pic {
  margin-top: 20px;
}

.page-description {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  color: #aa8b56;
}

.main-page-button {
  margin-top: 10px;
  margin-left: 150px;
}

.home-button {
  padding-top: 20px;
  background: linear-gradient(45deg, #aa8b56, #aa8b56);
}

.home-button:hover {
  background: linear-gradient(45deg, #4e6c50, #395144);
  color: #f0ebce;
}

.button-look {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  padding: 10px;
  border-radius: 12px;
  background-color: #f0ebce;
  text-decoration: none;
  color: #f0ebce;
  font-weight: bold;
  margin-right: 75px;
}

.button-look:hover {
  color: #f0ebce;
}

.direction-title {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f0ebce;
  position: relative;
}

.direction-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  width: 300px;
  height: 2px;
  background-color: #aa8b56;
}

.direction-title:after {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  width: 300px;
  height: 2px;
  background-color: #aa8b56;
}

.direction-title::before {
  left: 0;
}

.direction-title::after {
  right: 0;
}

.direction-subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #f0ebce;
}

.card-img-top {
  display: block;
  margin: 0px auto 0px auto;
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.home-card-title {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.home-card-text {
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
  padding-top: 10px;
  line-height: 22px;
}

.carousel {
  margin-bottom: 50px;
  font-family: "Work Sans", sans-serif;
}

.team-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.staff-name {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #f0ebce;
  padding-top: 10px;
}

.container.text-left {
  font-family: "Work Sans", sans-serif;
}
